<div class="container proj-api">
    <div class="row">
        <div class="col">
            <form action="" method="POST" class="o-mw-650 mx-auto">
                <fieldset class="proj-fieldset py-2 px-4">
                    <legend class="proj-legend">Lägg till ett objekt.</legend>
                <div class="mb-3">
                    <label class="form-label mb-0">Id:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="id" min="28" value="28" required>
                    <label class="form-label mb-0">Namn:</label>
                    <input type="text" class="form-control proj-form-number mb-2" name="name">
                    <label class="form-label mb-0">Info:</label>
                    <input type="text" class="form-control proj-form-number mb-2" name="info">
                    <label class="form-label mb-0">Detaljerad-info:</label>
                    <input type="text" class="form-control proj-form-number mb-2" name="info-inner">
                    <label class="form-label mb-0">Bild:</label>
                    <input type="text" class="form-control proj-form-number mb-2" name="image">
                    <label class="form-label mb-0">Position X:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="pos-x" min="0" max="100" value="0" required>
                    <label class="form-label mb-0">Position Y:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="pos-y" min="0" max="100" value="0" required>
                    <label class="form-label mb-0">Size X:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="size-x" min="0" max="100" value="0" required>
                    <label class="form-label mb-0">Size Y:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="size-y" min="0" max="100" value="0" required>
                    <label class="form-label mb-0">I rum:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="in-room" min="0" value="1" required>
                    <label class="form-label mb-0">i objekt:</label>
                    <input type="number" class="form-control proj-form-number mb-2" name="in-object" min="-1" max="100" value="-1" required>                    
                </div>
                <input class="proj-form-submit" type="submit" value="Lägg till objekt">
                </fieldset>
            </form>
        </div>
    </div>
</div>
