{% extends "base.html.twig" %}

{% block title %}Kort{% endblock %}

{% block header %}Kort{% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ path('card_deck') }}">Se alla korten i en kortlek i sorterad ordning</a></li>
        <li><a href="{{ path('card_deck_shuffle') }}">Blanda om kortleken och visa alla kort</a></li>
        <li><a href="{{ path('card_deck_draw_one') }}">Dra ett kort ifrån kortleken</a></li>
        <li><a href="{{ path('card_deck_draw_multi', {num: 0}) }}">Dra ett eller flera kort ifrån kortleken</a></li>
    </ul>
{% endblock %}