{% extends "base.html.twig" %}

{% block title %}En kortlek{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block main %}
    <div class="card-container">
    {% for card in cardDeck %}
    <i
        class="shadow border {{ card.getClassName() }}"
        style="background-image:url({{ asset('image/cards-sprite.png')}});">
    </i>
    {% endfor %}
    </div>
{% endblock %}