{% extends "base.html.twig" %}

{% block title %}En kortlek{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block main %}
    <p>Antal kort i kortleken är {{ size }} stycken.</p>
    <h2>{{ cardDeck }}</h2>
{% endblock %}