{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block header %}Satsa pengar{% endblock %}

{% block main %}
    <div class="o-mw-250 mx-auto"></div>
    <p class="text-center">Tillgänglig summa:<br><strong>{{ playerMoney }}</strong></p>
    {% if playerMoney != 0 %}
        <form class="form-control" action="{{ path('blackjack_bet') }}" method="POST">
            <label class="form-label">Välj summa att satsa:</label>
            <input type="number" name="playerbet" class="text-center form-control mb-2" min="0" max="{{ playerMoney }}" step="1" value="0">
            <input type="submit" class="btn btn-primary w-100" value="Satsa">
        </form>
    {% else %}
        <p class="text-center">Spelet över, du har inga pengar kvar.</p>
    {% endif %}
    </div>
{% endblock %}
