{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block header %}Blackjack{% endblock %}

{% block main %}
    <h2>Spela blackjack</h2>
    <a href="{{ path('blackjack_doc') }}">Länk till dokumentation</a>
    <p>Dags att prova lyckan i det klassiska casinospelet Blackjack! Spelet går ut på att man ska få 21 poäng med korten man har i handen. Här kan du läsa lite mer om reglerna.</p>
    <h4>Kort och kortens värde:</h4>
    <ul>
        <li>Korten 2 till och med 10 är värda det poängtal som står angivet på spelkorten.</li>
        <li>Kung, dam och knekt är värda tio poäng.</li>
        <li>Ess är värt antingen ett poäng eller elva (endast den högst giltiga poängen visas).</li>
        <li>Kortleken blandas inte om mellan varje omgång. Är det mindre än 10 kort kvar efter en omgång kommer kortleken blandas om.</li>
    </ul>
    <h4>Regler</h4>
    <ul>
        <li>Den som är närmast utan att överstiga 21 poäng vinner. Vid samma poäng blir det oavgjort.</li>
        <li>
            Blackjack får man när man får 21 poäng på sin första hand, alltså med endast två kort (med ett kort värt tio poäng tillsammans med ett ess som då är värt 11).
            Får både spelare och bank blackjack blir det oavgjort, annars vinner den som har blackjack.
        </li>
        <li>Blackjack är den bästa handen, den är alltså mer värd än att 21 poäng på fler än två kort.</li>
        <li>Överstiger spelaren 21 blir hen "tjock", då vinner banken.</li>
        <li>Blir banken "tjock" vinner spelaren.</li>
    </ul>
    <h4>Spelomgång</h4>
    <ul>
        <li>Två kort delas ut i början av varje omgång till både spelare och bank, spelaren kan endast se ett av bankens kort.</li>
        <li>Får spelaren två kort med samma värde kan välja att "splitta" sin korthand. De två korten delas då upp och bildar två separata korthänder som spelaren kan spela vidare med var för sig.</li>
        <li>Spelaren väljer om den vill få flera kort eller stanna med nuvarande hand.</li>
        <li>Om spelaren väljer att stanna så är det bankens tur, banken måste ta ett nytt kort så länge dess poäng är under 17. Det gäller dock inte om spelaren har blivit "tjock" eller fått blackjack.</li>
    </ul>
    <h4>Betta</h4>
    <ul>
        <li>Före varje runda kan du bestämma hur mycket du vill satsa på nästa hand som delas ut.</li>
        <li>Vid blackjack får man 3/2 av satsat belopp.</li>
        <li>Skulle vinsten bli ett halvt belopp, t ex 7.5 rundas summan nedåt til 7.</li>
        <li>Vid vinst vinner man satsat belopp.</li>
        <li>Vid förlust blir man av med satsat belopp.</li>
        <li>Vid splittning måste spelaren betala ytterligare en insats som är lika stor som satsat belopp.</li>
    </ul>
    <form action="{{ path('blackjack_new_round' )}}" method="POST">
        <button class="btn btn-primary mx-auto w-25" name="submit" value="init"
        onClick="this.form.action">Spela!</button>
        {# <input class="btn btn-primary mx-auto w-25" type="submit" value="Spela!"> #}
    </form>
{% endblock %}