{% extends "base.html.twig" %}

{% block title %}Kasta gris{% endblock %}

{% block header %}Kasta gris{% endblock %}

{% block main %}
<p>
    Detta är ett klassiskt tärningsspel som heter "Kasta gris" där du rullar ett antal tärningar för att försöka nå 100 poäng. Du kan läsa mer om 
    <a href="https://en.wikipedia.org/wiki/Pig_(dice_game)">spelets grundläggande regler på Wikipedia</a>.
</p>
{% endblock %}
