{% extends "base.html.twig" %}

{% block title %}Kasta gris{% endblock %}

{% block header %}Spela kasta gris{% endblock %}

{% block main %}
<p>Hur m책nga t채rningar vill du ha i din t채rningshand n채r du spelar spelet?</p>

<form method="post" action="">
    <input type="number" name="num_dices" min="1" max="99" value="1">
    <input type="submit" name="do_it" value="Spela">
</form>

{% endblock %}