{% extends "base.html.twig" %}

{% block title %}Kasta tärning{% endblock %}

{% block header %}En hand med tärningar{% endblock %}

{% block main %}
<p>Du kastade {{ num_dices }} tärningar. Tärningarnas värde är:</p>

<ul>
{% for roll in diceRoll %}
    <li class="dice-list">{{ roll }}</li>
{% endfor %}
</ul>

<p>Testa med
    <a href="{{ path('test_dicehand', {num: 5}) }}">5</a>
    eller 
    <a href="{{ path('test_dicehand', {num: 10}) }}">10</a>
    tärningar.
</p>
{% endblock %}
