@import "bootstrap.css";
@import "lucky.css";
@import "cardgame.css";
@import "pig.css";

main {
    flex: 1;
}

.site-header {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center top;
}

@media (max-width: 767px) {
    .site-header {
        height: 100px;
        background-position-y: -50px;
    }
}
