@import "bootstrap.css";
@import "lucky.css";
@import "cardgame.css";

main {
    flex: 1;
}

.site-header {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center top;
}

/* Some own settings*/

.o-mw-200 {
    max-width: 200px;
}

.o-mw-250 {
    max-width: 250px !important;
}

.o-mw-650 {
    max-width: 650px !important;
}

.o-mw-1080 {
    max-width: 1080px !important;
}

.o-miw-55 {
    min-width: 55px;
}

.o-miw-250 {
    min-width: 250px;
}

/* Col-links */

.col-link-container .col {
    min-width: 250px;
    max-width: 250px;
    min-height: 310px;
}

.col-link-container .col:hover {
    scale: 1.02;
    box-shadow: 0px 0px 10px 2px #cacaca !important;
    transition: all 100ms ease-in-out;
}

@media (max-width: 767px) {
    .site-header {
        height: 100px;
        background-position-y: -50px;
    }
}
