@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lilita+One&family=Patua+One&family=Press+Start+2P&display=swap');

/*
font-family: 'Fira Mono', monospace;
font-family: 'Lilita One', cursive;
font-family: 'Patua One', cursive;
font-family: 'Press Start 2P', cursive;
*/

:root {
    --font-header: 'Lilita One', cursive;
    --font-text: 'Patua One', cursive;

    --black: #1f1f1f;
    --white: #ddd;
    --link-hover: #adff2f;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

/* Typography */

.proj-container h1,
.proj-container h2,
.proj-container h3,
.proj-container h4 {
    font-family: var(--font-header);
}

.proj-container p,
.proj-container li {
    font-family: var(--font-text);
    line-height: 1.5;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
}


/* Body, header and footer */
.game-body {
    background-color: var(--black);
    color: var(--white);
}

.game-header {
    border-bottom: 2px solid var(--white);
}

.game-header nav {
    margin: auto;
    padding: 0 1.5rem;
    max-width: 1080px;
}

.game-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem!important;
}

.proj-pac-copy,
.proj-home-icon {
    max-height: 1.5rem;
    width: auto;
}

.getout-img {
    max-height: 4rem;
    width: auto;
}

.proj-links {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem!important;
}

.proj-links a {
    font-family: var(--font-header);
    color: var(--white);
    text-decoration: none;
}

.proj-links a:hover {
    color: var(--link-hover);
}

.game-footer {
    font-family: var(--font-header);
}


@media (max-width: 768px) {
    .getout-img {
        max-height: 1.5rem !important;
        width: auto;
    }

    .game-link {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem!important;
    }
}

@media (max-width: 500px) {
    .proj-links {
        height: fit-content;
        flex-direction: column;
        gap: 0;
        margin-top: auto !important;
        margin-bottom: auto !important;
        text-align: end;
    }
}

/* Main content */

.proj-div-center {
    margin: auto;
}

.game-container {
    position: relative;
    max-width: 800px;
    height: auto;
    border: 2px solid var(--white);
    margin: auto;
    font-family: var(--font-text);
}

.game-dark-font {
    color: var(--black);
}

.escape-room {
    width: 100%;
    height: auto;
}

.blur-pic {
    filter: blur(2px);
}

.game-image {
    position: relative;
    max-width: 800px;
    height: auto;
}

.game-info {
    min-height: 150px;
}

.game-button {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    color: transparent;
    border: none;
    cursor: default !important;
}

.game-inventory {
    position: absolute;
    aspect-ratio: 1 / 1;
    height: 75%;
    width: auto;
    top: 50%;
    left: 50%;
    background-color: #f5f5f5;
    border: 2px solid black;
}

.game-inventory-link {
    aspect-ratio: 1 / 1;
    max-width: 120px;
}

.game-v-hidden {
    visibility: hidden;
}

.inventory-object-pic {
    position: absolute;
    top: 50%;
    left: 50%;
}

.inventory-object-form {
    width: 33%;
    height: 33%;
}

.object-closeup {
    width: auto;
    height: 75%;
}

.dir-left {
    top: 60%;
    left: 6%;
    height: 10%;
}

.dir-right {
    top: 60%;
    left: 94%;
    height: 10%;
}

.dir-down {
    top: 95%;
    left: 50%;
    height: 10%;
}

.dir-left-backpack {
    top: 10%;
    left: 10%;
    height: 12%;
}

/* .object-form {
    border: 1px solid black;
} */

.ab-center,
.object-inner {
    top: 50%;
    left: 50%;
}

.tl-50 {
    position: absolute;
    transform: translate(-50%, -50%);
}

.z-top {
    position: relative;
    z-index: 10;
}

/* About */
.proj-about-link {
    color: var(--link-hover);
}

.proj-about-link:hover {
    color: rgb(230, 255, 66);
}

/* Style for lock */

.lock-form {
    background-color: #ffe347;
    width: 60%;
    height: 80%;
    padding: 0 10%;
    top: 45%;
    left: 50%;
}

.lock-form input[type=number] {
    flex: 1;
    width: 100% !important;
    font-size: 5vw; /* Adjust the font size as desired */
    text-align: center; /* Center align the text */
}

.lock-form > div {
    flex: 1;
}

.lock-form input[type=submit] {
    background-color: #f0f0f0;
    border: 1px solid black;
}

.lock-form input[type=submit]:hover {
    color: #000;
}

.lock-form input[type=submit]:active,
.lock-form button:active {
    background-color: #bebebe;
}

.lock-form input[type="number"]::-webkit-inner-spin-button,
.lock-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lock-form input[type="number"] {
    -moz-appearance: textfield;
}

/* Api page */

.proj-api {
    font-family: var(--font-header);
}

.proj-fieldset {
    border: 2px solid var(--link-hover);
    border-radius: 4px;
}

.proj-fieldset:hover {
    box-shadow: 0 0 10px 1px var(--link-hover);
    transition: all 0.2s;
}


.proj-legend {
    font-family: var(--font-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--black);
    float: unset;
    width: unset;
    margin-bottom: unset;
    font-size: 1rem;
    padding: 0.25rem;
    line-height: inherit;
    text-align: center;
}

.proj-form-text {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--white);
}

.proj-form-number {
    background-color: transparent;
    color: var(--white);
}

.proj-form-number:valid {
    box-shadow: 0 0 5px 1px var(--link-hover);
}

.proj-form-number:enabled {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    text-align: center;
}

.proj-form-number:active {
    background-color: transparent;
    border: 1px solid var(--white);
}

.proj-form-submit {
    margin: auto;
    display: block;
    padding: 0.25rem 1.5rem;
    border: 1px solid var(--link-hover);
    background-color: transparent;
    color: var(--white);
    border-radius: 4px;
}

.proj-form-submit:hover {
    background-color: var(--link-hover);
    color: var(--black);
    transition: all 0.2s;
    box-shadow: 0 0 10px 1px var(--link-hover);
}

/* Walkthrough */

.modal-content {
    background-color: var(--black) !important;
    border: 1px solid var(--link-hover);
    box-shadow: 0 0 10px 1px var(--link-hover);
}