{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block header %}Om kursen mvc{% endblock %}

{% block main %}
    <p>Kursen 'Objektorienterade webbteknologier' alias 'mvc', är en kurs på BTH som fokuserar på just objektorienterade progammeringstekniker för webben i språket PHP.</p>
    <a href="https://github.com/dbwebb-se/mvc">Kursrepo</a>
    <a href="https://github.com/dbwebb-se/mvc">Denna sidans repo</a>
    
{% endblock %}