{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block header %}Några API:er{% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ path('api_quote')}}">Länk till lite citat</a></li>
        <li><a href="{{ path('api_card_deck')}}">En hel kortlek i sorterad ordning</a></li>
        <li><a href="{{ path('api_card_deck_shuffle')}}">En hel kortlek i blandad ordning</a></li>
    </ul>
{% endblock %}
