{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block header %}Hem{% endblock %}

{% block main %}
    <p>Detta är min me-sida för kursen MV (Objektorienterade webbteknologier).</p>
    <p>Vem är då jag? Pontus Åkerberg heter jag, 34 år gammal och uppväxt strax utanför Karlstad. Efter att ha bott och jobbat i ca ett decennium i grannlandet i väst bor jag numer utanför Sunne tillsammans med min sambo. Har haft många olika typer av jobb under mitt arbetsliv, men kände att jag ville satsa på något nytt och läser nu Webbprogrammering via distans på BTH.</p>
    <p>Fritiden spenderar jag gärna utomhus med någon aktivitet som passar vad dagen har att erbjuda. Har sedan 2011 hållit på med flygsport i form av fallskärmshoppning och skärmflygning, men sedan 2019 är jag endast aktiv inom skärmflyg. Det är en oerhörd frihetskänsla att kunna friflyga helt utan motorer och endast nyttja naturens egna krafter för att ta sig från en punkt till en annan.</p>
    <div class="container-sm w-75">
        <img src="{{ asset('img/me_flying.jpg')}}" alt="Bild på mig över värmländska skogar" class="rounded img-fluid">
    </div>
{% endblock %}