{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block header %}Redovisningstexter{% endblock %}

{% block main %}
    <h2 id="kmom01">Kmom01</h2>
    <p>Första gången jag kom i kontakt med objektorienterad programmering var i kursen oopython som jag läste precis innan denna kursen. Man fick ju börja känna på objekt i slutet av javascript-kursen, och att det har varit ett bra upplägg i de kurserna fram till denna. Så det är mina tidigare erfarenheter till objektorientering, och därmed även mina förkunskaper som sträcker sig till det som vi har fått lära oss i de kurserna (framförallt oopython).</p>
    <p>För att skapa sina egna klasser bör man först få en förståelse för vad ett objekt är, att det har medlemsvariabler (properties) och metoder som kapslas in inuti objektet och kan ge objektet ett visst state (läge). Medlemsvariablerna och metoderna kan vara publika eller privata, vilket gör att man kan styra användares möjligheter till hur objektet kan användas. Man skapar ett objekt från en klass som kan ses som en mall/ritning över hur varje objekt skall fungera, och objektet ses som en instans av klassen. Syntaxmässigt använder man sig utav nyckelordet "class" följt av ett klassnamn och måsvingar { } för att skapa en klass, där man lägger medlemsvariablerna och metoderna inom måsvingarna. Och för att sedan skapa ett objekt från klassen tilldelar man en variabel en instans av klassen genom att använda sig utav nyckelordet “new” följt utav klassnamnet.</p>
    <p>Kodstrukturen för uppgiften och användandet av symfony kan jag ju endast jämföra med tidigare erfarenhet av liknande mvc-strukturer vi haft i andra kurser, där jag upplever kodbasen och strukturen i php lite mindre översiktligt. Jag upplever att i andra kodspråk blir det mycket tydligare, men det har nog mest att göra med hur syntaxen är, t ex i python eller javascript. Skulle jag inte haft den tidigare erfarenheten så hade jag nog tyckt att det varit mycket svårare att greppa helheten, men tack vare tidigare erfarenhet så tycker jag ändå att strukturen och kodbasen är lättare att förstå. Då det var en stund sedan vi hade php som grund i någon av kurserna, så tycker jag att syntaxen i koden är lite ovan men det är något man kommer in i snart igen.</p>
    <p>En av de stora saker jag tar med mig från artikeln “PHP the right way” är först hur mångsidigt PHP är som programmeringspråk, något som jag har förstått först nu när efter alla de kurser som man tagit under första läsåret. Många av delarna i artikeln är intressanta och vissa delar känns igen från tidigare kurser (speciellt oopython). Särskilt intressanta kapitel var bland annat “Dependency Injections”, där jag ser för mig att om man lär sig strukturera sin kod på ett genomtänkt sätt verkligen kan underlätta för framtida underhåll och uppgradering. En annan del som jag ser som värdefull är delen om “Internationalization and Localization” för framtida utveckling till flera språk, även om jag inte helt upplevde att jag greppade i artikeln hur man skall göra rent praktiskt. Men den mest intressanta och värdefulla delen var nog den om “Security”, då det är något som jag känner jag vill veta mer om då det verkligen är viktigt att hindra någon från att försöka förstöra det man skapat.</p>
    <p>Det var mycket ny information i detta kursmomentet, men det var nog framförallt i de olika artiklarna snarare än vad vi gjorde i övningen eller för uppgiften. Det som nog var kändes helt nytt var just det jag nämnde ovan med “Dependency injections” och hur man kan tänka för att skapa en mer lättunderhållen och inte en för  “inmålad” kodstruktur. Sedan om man har lärt sig det är kanske en annan sak, man har ju inte riktigt det fått prova det i praktiken ännu men det har i alla fall tagits upp på ett sätt jag inte känner igen från tidigare erfarenheter/kurser.</p>
    
    <h2 id="kmom02">Kmom02</h2>
    <p>Här kommer redovisningstexten för kursmoment 2.</p>
    <h2 id="kmom03">Kmom03</h2>
    <p>Här kommer redovisningstexten för kursmoment 3.</p>
    <h2 id="kmom04">Kmom04</h2>
    <p>Här kommer redovisningstexten för kursmoment 4.</p>
    <h2 id="kmom05">Kmom05</h2>
    <p>Här kommer redovisningstexten för kursmoment 5.</p>
    <h2 id="kmom06">Kmom06</h2>
    <p>Här kommer redovisningstexten för kursmoment 6.</p>
    <h2 id="kmom07-10">Kmom07/10</h2>
    <p>Här kommer redovisningstexten för kursmoment 7/10.</p>
{% endblock %}
