{% extends "project/base.html.twig" %}

{% block main %}

<h2>Om Get out!</h2>
<p>
    Get out är ett projektarbete som har gjorts som avslutande arbete och examination i kursen mvc på BTH (Blekinge tekniska högskola).
</p>
<p>
    Get out är ett äventyrsspel där målet är att ta sig ut ur det hus som man är inlåst i. Det är en digital variant av ett så kallat escape room, där man behöver hitta ledtrådar och utföra vissa handlingar för att ta sig ut ur det rum man befinner sig i. Spelet består av flera rum, där de ledtrådar som finns tillsammans hjälper en att lösa de problem som finns för att kunna ta sig ut. För att titta närmare eller utföra de handlingar som krävs använder man datormusen eller fingret ifall man har en mobil enhet för att klicka sig runt. Man har även en ryggsäck där man kan samla upp de ledtrådar man hittar som går att plocka upp
</p>
<p>
    Spelet är programmerat i programmeringsspråket php, där den programmeringsmetod som används är det man kallar för objektorienterad programmering vilket kortfattat innebär att man delar upp olika delar av koden i objekt. Den data som används för de olika objekt som finns i spelet hämtas ut ur en enklare filbaserad databas (sqlite), där de bilder som används är gratis att använda och hämtade från sidorna <a href="https://openclipart.org/" class="proj-about-link">Openclipart</a> och <a href="https://www.clker.com/" class="proj-about-link">Clker</a>.
</p>

{% endblock %}